/* .nav-item {
  text-decoration: none;
  margin-right: 20px;
}
.login-button {
  text-align: none;
} */
/* 슬라이드 */
.slideContainer {
  width: 85%;
  margin-top: 25px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
}

.card {
  /* position: relative;
  width: 120px;
  height: 200px;

  z-index: 1;
  padding-bottom: 10px;
  perspective: 1000px;
  margin: 15px; */
  background-color: red;
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 10px;
  box-shadow: 0 5px 5px rgba(212, 185, 150, 0.5);
  transition: 0.5s;
  text-align: center;
  position: relative;
}
.card img {
  width: 75%;
  height: 210px;
  border-radius: 1rem 1rem 0 0;
  margin: auto;
}
.card .bottom {
  display: flex;
  flex-direction: column;
}
.card .bottom .title {
  font-size: 13px;
  margin: 12px 0;
  /* margin-bottom: 12px; */
}
.boxImg {
  width: 120px;

  /* height: 120px; */
  /* margin-left: 10px; */
}

/* 로그인 */
.loginForm {
  max-width: 500px;
  align-items: center;
  margin: 100px auto;
}
/* 회원가입 */
.signup-form {
  max-width: 500px;
  align-items: center;
  margin: 100px auto;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
  align-items: center;
  margin: 100px auto;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

/* 회원가입 */
/* #components-form-demo-normal-register .signup-form {
  max-width: 300px;
  align-items: center;
  margin: 100px auto;
} */
#components-form-demo-normal-register .login-form-forgot {
  float: right;
}
#components-form-demo-normal-register .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-register .login-form-button {
  width: 100%;
}

/* 네비게이션 */
