/* .nav-item {
  text-decoration: none;
  margin-right: 20px;
}
.login-button {
  text-align: none;
} */

.card {
  position: relative;
  width: 120px;
  height: 200px;

  z-index: 1;
  padding-bottom: 10px;
  perspective: 1000px;
  margin: 15px;
}
.card_cover {
  /* position: absolute; */
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  background-size: cover;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform-origin: top center;
  will-change: transform;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out;
}
.card_cover::after {
  display: block;
  content: "";
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background: linear-gradient(
    226dge,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 35%,
    rgba(255, 255, 255, 0.2) 42%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: translateY(-20%);
  will-change: transform;
  transition: transform 0.65s cubic-bezier(0.18, 0.9, 0.58, 1);
}
.card:hover .card_cover {
  transform: rotateX(7deg) translateY(-6px);
}
.card:hover .card_cover::after {
  transform: translateY(0%);
}
.card::before {
  display: block;
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 12px 12px rgba(0, 0, 0, 0.4);
  will-change: opacity;
  transform-origin: top center;
  transform: skewX(0.001deg);
  transition: transform 0.35s ease-in-out, opacity 0.5s ease-in-out;
}
.card:hover::before {
  opacity: 0.6;
  transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
.boxImg {
  width: 120px;
  /* height: 120px; */
  /* margin-left: 10px; */
}

/* 로그인 */

#components-form-demo-normal-login .login-form {
  max-width: 300px;
  align-items: center;
  margin: 100px auto;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

/* 회원가입 */
#components-form-demo-normal-register .signup-form {
  max-width: 300px;
  align-items: center;
  margin: 100px auto;
}
#components-form-demo-normal-register .login-form-forgot {
  float: right;
}
#components-form-demo-normal-register .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-register .login-form-button {
  width: 100%;
}

/* 네비게이션 */
